# ===== Maven =====
target/
build/
*.log

# ===== Serenity =====
serenity-reports/
serenity.properties
serenity.conf

# ===== WebDriver =====
*.exe
*.log
chromedriver*
geckodriver*
msedgedriver*

# ===== IDEs =====
.idea/
*.iml
.vscode/
.settings/
.classpath
.project


# ===== OS =====
.DS_Store
Thumbs.db

# ===== Lombok =====
.lombok

# ===== Generated test artifacts =====
cucumber.json